<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net472" />
  <package id="NLog" version="3.1.0.0" targetFramework="net472" />
  <package id="TeamViewer.QuickSupport.Integration" version="1805.24.1" targetFramework="net472" />
  <package id="teamviewer-qs" version="15.6.7.0" targetFramework="net472" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net472" />
</packages>